---
import { type CollectionEntry, getCollection } from "astro:content";
import type { GetStaticPaths, Page } from "astro";
import { Icon } from "astro-icon/components";
import Note from "@/components/note/Note.astro";
import { t } from "@/i18n";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

export const getStaticPaths = (async ({ paginate }) => {
  const MAX_NOTES_PER_PAGE = 10;
  const allNotes = await getCollection("note");
  return paginate(allNotes.sort(collectionDateSort), {
    pageSize: MAX_NOTES_PER_PAGE,
  });
}) satisfies GetStaticPaths;

interface Props {
  page: Page<CollectionEntry<"note">>;
}

const { page } = Astro.props;

const meta = {
  description: t.notes.description,
  title: t.notes.title,
};
---

<PageLayout meta={meta}>
  <section>
    <h1 class="title mb-12 flex items-center gap-3">
      <span data-i18n="notes.title">{t.notes.title}</span>
      <a class="text-accent" href="/notes/rss.xml" target="_blank">
        <span class="sr-only" data-i18n="global.rssFeed"
          >{t.global.rssFeed}</span
        >
        <Icon
          aria-hidden="true"
          class="h-6 w-6"
          focusable="false"
          name="mdi:rss"
        />
      </a>
    </h1>
    <ul class="mt-6 space-y-8 text-start" id="notes-list">
      {
        page.data.map((note) => (
          <li class="lang-item" data-lang={note.data.lang}>
            <Note note={note} as="h2" isPreview />
          </li>
        ))
      }
    </ul>
  </section>
</PageLayout>

<script>
  function filterByLanguage() {
    const lang = localStorage.getItem("lang") || "en";
    const items = document.querySelectorAll(".lang-item");

    items.forEach((item) => {
      const itemLang = item.getAttribute("data-lang");
      (item as HTMLElement).style.display = itemLang === lang ? "" : "none";
    });
  }

  document.addEventListener("DOMContentLoaded", filterByLanguage);
</script>
