---
import { getWebmentionsForUrl } from "@/utils/webmentions";
import Comments from "./Comments.astro";
import Likes from "./Likes.astro";
import { t } from "@/i18n";

const url = new URL(Astro.url.pathname, Astro.site);

const webMentions = await getWebmentionsForUrl(`${url}`);

// Return if no webmentions
if (!webMentions.length) return;
---

<hr class="border-solid" />
<h2 class="mb-8 before:hidden">{t.webmentions.webmentionsForPost}</h2>
<div class="space-y-10">
	<Likes mentions={webMentions} />
	<Comments mentions={webMentions} />
</div>
<p class="mt-8">
	{t.webmentions.responsesPoweredBy}{" "}
	<a href="https://webmention.io" rel="noreferrer" target="_blank">Webmentions</a>
</p>
