---
import type { SiteMeta } from "@/types";

import { siteConfig } from "@/site-config";

import "../styles/global.css";

type Props = SiteMeta;

const { articleDate, description, ogImage, title } = Astro.props;

const titleSeparator = "•";
const siteTitle = `${title} ${titleSeparator} ${siteConfig.title}`;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(ogImage ? ogImage : "/social-card.png", Astro.url).href;
---

<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<title>{siteTitle}</title>

{/* Icons / Favicon */}
<link href="/favicon.ico" rel="icon" sizes="any" />
<link href="/icon.svg" rel="icon" type="image/svg+xml" />
<link href="/apple-touch-icon.png" rel="apple-touch-icon" />
<link href="/manifest.webmanifest" rel="manifest" />
<link href={canonicalURL} rel="canonical" />

{/* Primary Meta Tags */}
<meta content={siteTitle} name="title" />
<meta content={description} name="description" />
<meta content={siteConfig.author} name="author" />

{/* Theme Colour */}
<meta content="" name="theme-color" />

{/* Open Graph / Facebook */}
<meta content={articleDate ? "article" : "website"} property="og:type" />
<meta content={title} property="og:title" />
<meta content={description} property="og:description" />
<meta content={canonicalURL} property="og:url" />
<meta content={siteConfig.title} property="og:site_name" />
<meta content={siteConfig.ogLocale} property="og:locale" />
<meta content={socialImageURL} property="og:image" />
<meta content="1200" property="og:image:width" />
<meta content="630" property="og:image:height" />
{
	articleDate && (
		<>
			<meta content={siteConfig.author} property="article:author" />
			<meta content={articleDate} property="article:published_time" />
		</>
	)
}

{/* Twitter */}
<meta content="summary_large_image" property="twitter:card" />
<meta content={canonicalURL} property="twitter:url" />
<meta content={title} property="twitter:title" />
<meta content={description} property="twitter:description" />
<meta content={socialImageURL} property="twitter:image" />

{/* Sitemap */}
<link href="/sitemap-index.xml" rel="sitemap" />

{/* RSS auto-discovery */}
<link href="/rss.xml" rel="alternate" title={siteConfig.title} type="application/rss+xml" />

{/* Webmentions */}
{
	siteConfig.webmentions && (
		<>
			<link href={siteConfig.webmentions.link} rel="webmention" />
			{siteConfig.webmentions.pingback && (
				<link href={siteConfig.webmentions.pingback} rel="pingback" />
			)}
		</>
	)
}

<meta content={Astro.generator} name="generator" />
