---
import type { IElement } from "@/types";
export interface Props extends IElement {
	post: any;
	withDesc?: boolean;
}

const { post, as: Element = "div", withDesc = false } = Astro.props as Props;
const frontmatterDate = new Date(post.frontmatter.publishDate);
const datetime = frontmatterDate.toISOString();
// set your own preferred date settings. Note longer months will change the time elements' width
const formatOptions: Intl.DateTimeFormatOptions = {
	day: "numeric",
	month: "short",
	year: "numeric",
};
const locale = "en-GB";
const postDate = new Intl.DateTimeFormat(locale, formatOptions).format(
	frontmatterDate
);
---

<time {datetime} class="min-w-[120px] text-gray-500">{postDate}</time>
<Element>
	<a href={post.url} class="inline-block cactus-link line-clamp-1">
		{post.frontmatter.title}
	</a>
</Element>
{withDesc && (
	<q class="block italic line-clamp-3">{post.frontmatter.description}</q>
)}
