---
export interface Props {
	post: any;
	withDesc?: boolean;
}

const { post, withDesc = false } = Astro.props as Props;
const datetime = new Date(post.frontmatter.publishDate).toISOString();
---

<article>
	<time {datetime} class="text-slate-500">{post.frontmatter.publishDate}</time>
	<a href={post.url} class="mt-4 underline hover:decoration-double hover:decoration-secondary">
		{post.frontmatter.title}
	</a>
	{withDesc && <q class="block mt-2 italic">{post.frontmatter.description}</q>}
</article>
