---
	export interface Props {
		post: any;
		withDesc?: boolean;
	}

	const { post, withDesc = false } = Astro.props as Props;
	const datetime = new Date(post.frontmatter.publishDate).toISOString();
---

<article>
	<time {datetime} class="mr-4 text-gray-500">{post.frontmatter.publishDate}</time>
	<a href={post.url} class="inline-block mt-4 cactus-link">
		{post.frontmatter.title}
	</a>
	{withDesc && <q class="block mt-2 italic line-clamp-3">{post.frontmatter.description}</q>}
</article>