---
const { name, url, img, title, alt } = Astro.props;
---

<div class="flex flex-col items-center rounded-lg p-4 hover:scale-105">
	<a href={url} target="_blank" rel="noopener noreferrer">
		<img src={img} title={title} alt={alt} class="h-12 w-12 rounded-lg" />
	</a>
	<p class="pt-1 text-sm md:text-[12px]">{name}</p>
</div>
