---
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site.config";
import type { SiteMeta } from "@/types";

interface Props {
  meta: SiteMeta;
  baseline?: boolean;
}

const {
  meta: { articleDate, description = siteConfig.description, ogImage, title },
  baseline = false,
} = Astro.props;
---

<html class="scroll-smooth" lang={siteConfig.lang}>
  <head>
    <BaseHead
      articleDate={articleDate}
      description={description}
      ogImage={ogImage}
      title={title}
    />
  </head>
  <body
    class={`container grid grid-cols-12 grid-rows-[auto_1fr_auto] gap-6 mx-auto px-6 max-w-7xl min-h-screen"}`}
  >
    <ThemeProvider />
    <SkipLink />
    <Header />
    <main id="main" class="contents">
      <slot />
    </main>
    <Footer />
    <script is:inline type="speculationrules">
      {
        "prefetch": [
          {
            "where": {
              "href_matches": "/*"
            },
            "eagerness": "immediate"
          }
        ],
        "prerender": [
          {
            "where": {
              "href_matches": "/*"
            },
            "eagerness": "moderate"
          }
        ]
      }
    </script>
  </body>
</html>
