---
import BaseLayout from "./Base.astro";
import { getPreviousAndNextPosts, sortMDByDate } from "@/utils";
import BlogHero from "@/components/blog/Hero";
import Paginator from "@/components/Paginator";
import type { Post } from "@/data/posts";
import type { MDXLayoutProps } from "@/data/shared";

type Props = MDXLayoutProps<Post>;

const { frontmatter, headings } = Astro.props;
const currentPage = new URL(Astro.request.url).pathname;
const allPosts = await Astro.glob<Post>("../pages/posts/*.mdx");
const allSortedPosts = sortMDByDate(allPosts);
const { prev, next } = getPreviousAndNextPosts(currentPage, allSortedPosts);
const paginationProps = {
	...(prev?.url && {
		prevUrl: {
			url: prev.url,
			text: `← ${prev.frontmatter.title}`,
			srLabel: "Previous Post:",
		},
	}),
	...(next?.url && {
		nextUrl: {
			url: next.url,
			text: `${next.frontmatter.title} →`,
			srLabel: "Next Post:",
		},
	}),
};
---

<BaseLayout meta={{ title: frontmatter.title, description: frontmatter.description }}>
	<div class="sm:grid sm:grid-cols-[3fr_1fr] sm:gap-x-10 sm:items-start">
		<article>
			<BlogHero content={frontmatter} />
			<div
				class="mt-12 prose prose-sm prose-cactus prose-headings:font-semibold prose-headings:before:content-['#'] prose-headings:before:text-accent prose-headings:before:absolute prose-headings:before:-ml-4 prose-th:before:content-none"
			>
				<slot />
			</div>
		</article>
		<aside class="invisible hidden text-right sm:sticky sm:top-20 sm:block sm:visible">
			<h2 class="font-semibold">Table of Contents</h2>
			<ul class="mt-4 text-xs space-y-2">
				{
					headings.map(({ slug, text }) => (
						<li class="line-clamp-2 hover:text-accent">
							<a href={`#${slug}`} aria-label={`Scroll to section: ${text}`}>
								<span>&#35;</span> {text}
							</a>
						</li>
					))
				}
			</ul>
		</aside>
	</div>
	<div class="mt-24">
		<Paginator {...paginationProps} />
	</div>
</BaseLayout>
