---
	import BaseLayout from "./Base.astro";
	import BlogHeader from "@/components/BlogHeader.tsx";
	import { getPreviousAndNextSlugs, slugsFromFrontmatter, sortMDByDate } from "src/util";

	const { content: { title, description, publishDate, tags, astro } } = Astro.props;
	const datetime = new Date(publishDate).toISOString();
	const currentPage = new URL(Astro.request.url).pathname;
	const allPosts = await Astro.glob('../pages/posts/*.md');
	const allPostsSlugs = slugsFromFrontmatter(sortMDByDate(allPosts));
	const { prev, next } = getPreviousAndNextSlugs(currentPage, allPostsSlugs)
---

<BaseLayout {title} {description}>
	<BlogHeader slot="header" headers={astro.headers} prev={prev} next={next} client:visible />
	<article class="max-w-[65ch]">
		<h1 class="text-xl font-semibold text-accent">{title}</h1>
		<span class="flex items-center divide-x divide-text">
			<time {datetime} class="pr-2">{publishDate}</time>
			{tags?.length && (
			<div class="flex items-center pl-2">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6" stroke-width="1.5"
					stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<circle cx="8.5" cy="8.5" r="1" fill="currentColor"></circle>
					<path
						d="M4 7v3.859c0 .537 .213 1.052 .593 1.432l8.116 8.116a2.025 2.025 0 0 0 2.864 0l4.834 -4.834a2.025 2.025 0 0 0 0 -2.864l-8.117 -8.116a2.025 2.025 0 0 0 -1.431 -.593h-3.859a3 3 0 0 0 -3 3z">
					</path>
				</svg>
				<ul class="flex items-center ml-1 space-x-2">
					{tags.map(tag => <li>&#35;{tag}</li>)}
				</ul>
			</div>
			)}
		</span>
		<p class="mt-8">{description}</p>
		<div class="mt-12 prose prose-sm prose-headings:font-semibold prose-cactus">
			<slot />
		</div>
	</article>
</BaseLayout>